/* Variables CSS para temas de color y fuente */
:root {
  --color-background: #283747;
  --color-text: #ffffff;
  --color-button: #212F3D;
  --color-button-hover: #2C3E50;
  --font-main: Arial, sans-serif;
}

/* Estilos generales */
body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

header {
  background-color: var(--color-button);
  color: var(--color-text);
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

main {
  max-width: 1300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #34495E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: var(--color-text);
}

label {
  font-weight: bold;
  color: var(--color-text);
  display: inline-block;
  margin-top: 10px;
}

input, select, button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--color-button);
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--color-button);
  color: var(--color-text);
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--color-button-hover);
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--color-button);
  padding: 8px;
  text-align: left;
}

th {
  background-color: #17202A;
  color: var(--color-text);
}

table tr:nth-child(odd) {
  background-color: #2C3E50;
}

table tr:nth-child(even) {
  background-color: var(--color-button);
}

/* Estilos para mensajes de éxito y error */
.mensaje, .message {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  display: none;
  margin-top: 10px;
}

.message {
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.error {
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.exito {
  border: 1px solid #28a745;
  background-color: #28a745;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#error {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Estilos adicionales */
#msjNoArchivos {
  background-color: #E74C3C;
  color: #000000;
}

#msjEspera {
  background-color: #F4D03F;
  color: black;
}

.centrar-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#paginacionControles {
  margin-top: 20px;
  text-align: center;
}

#mensajeResultado, #paginacionControles {
  display: none;
}

.espaciado-vertical, .espaciado-vertical-dos {
  margin-top: 2rem;
}

/* Estilo para la versión */
.version {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 600px) {
  main {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  button, input[type="text"], select {
    padding: 6px;
    margin: 3px;
    font-size: 12px;
  }
}
